
.login-popup {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.login-popup-container {
    width: max(23vw, 330px);
    color: #005f5f; 
    background: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
    position: relative;
    z-index: 1001;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Title bar */
.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #003333; }

/* Close button */
.login-popup-title img {
    width: 16px;
    cursor: pointer;
}

/* Input fields */
.login-popup-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-input input {
    outline: none;
    border: 1px solid #009999;
    padding: 10px;
    border-radius: 4px;
}

/* Submit button */
.login-popup-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #008080; 
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-popup-container button:hover {
    background-color: #006666; 
}

.login-popup-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.login-popup-condition input {
    margin-top: 5px;
}

.login-popup p span {
    color: #008080; 
    font-weight: 500;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
